{% extends 'counter/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
{% endblock %}

{% block content %}
    {% for player, forms in player_forms.items %}
        <div class="fieldWrapper row p-2 mb-2 bg-{{ player.get_color_display }}">
            <div class="col-2 text-white">{{ player.name }}</div>
            {% for form in forms %}
                <div class="col">
                    <div class="row ml-1 mr-1">
                        <input class="sign-button bg-dark" type="button" onclick="removeRoute({{ form.route_type.n_train_cars }}, {{ form.player.id }})" value="-" /><label for="{{ form.n_train_cars.id_for_label }}"></label>
                        {% csrf_token %}
                        {{ form.n_train_cars }}
                        <input class="sign-button bg-dark" type="button" onclick="addRoute({{ form.route_type.n_train_cars }}, {{ form.player.id }})" value="+">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/routes.js' %}"></script>
    {% block javascript %}{% endblock %}
{% endblock %}

