
.bg-red {
    background-color: #e93b23;
}

.bg-blue {
    background-color: #256881;
}

.bg-green {
    background-color: #196337;
}

.bg-yellow {
    background-color: #e9bd2c;
}

.bg-black {
    background-color: #171207;
}